@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow( $shdw1, $shdw2 ) {
  -moz-box-shadow: $shdw1,$shdw2;
  -o-box-shadow: $shdw1,$shdw2;
  -webkit-box-shadow: $shdw1,$shdw2;
  box-shadow: $shdw1,$shdw2;
}

@mixin bg-gradient( $from, $to ) {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$from', endColorstr = '$to');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '$from', endColorstr = '$to')";
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear, center top, center bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}


html, body {
  background-color: #e8eaf0;
  height: 100%;
}

body {
  background: url(/1/extra_clean_paper.jpg);
  text-shadow: 1px 1px 1px #fff;
}

#header-bar,
#footer-bar {
  background-color: #f8f8f8;
  padding: 5px 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}

#header-bar {
  border-bottom: 1px solid #ddd;
}

#footer-bar {
  border-top: 1px solid #ddd;
  bottom: 0;
  position: absolute;
}

#main-content {
  position: absolute;
  top: 50%;
  width: 100%;

  #download {
    position: absolute;
    top: -110px;
    width: 100%;

    #icon-column {
      p {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        text-align: right;

        img {
          border: 2px solid #fff;
          margin: 0;
          max-height: 150px;
          max-width: 100%;
        }

        i {
          font-size: 150px;
        }
      }
    }

    #file-column {
      p {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
      }
    }

    #download-row {
      text-align: center;

      a {
        @include bg-gradient( #f8f8f8, #d9dee0 );
        @include border-radius(20px);
        @include box-shadow( 0 1px 3px rgba(0,0,0,0.28),inset 0 1px #fff );
        font-weight: normal;
        height: 40px;
        line-height: 40px;
        padding: 0 22px;

        &:hover {
          @include bg-gradient( #ffffff, #eef3f6 );
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  #file-column {
    p {
      text-align: center;
    }
  }
}
