html, body {
  height: 99%;
}

body {
  background-color: #f4f4ff;
  background: url(https://assets.servus.io/3/debut_light.png);
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
  text-align: center;
}

#download-details {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 320px;
  z-index: auto;

  .popover-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
  }

  .popover-content {
    p.file-icon {
      i {
        display: block;
        font-size: 200px;
        height: 170px;
        line-height: 180px;
      }

      img {
        margin-top: 10px;
        max-height: 292px;
        max-width: 292px;
      }
    }

    p.file-size {
      color: #999999;
    }
  }
}

#download-link {
  margin: 5px;
}

#sharing {
  bottom: 20px;
  position: fixed;
  right: 20px;
}
