@mixin transition($args) {
  -moz-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

html, body {
  height: 99%;
}

body {
  background-color: #f4f4ff;
  background: url(https://assets.servus.io/3/debut_light.png);
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
  @include transition( padding-top 0.3s );
  text-align: center;
}

#download-details {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 350px;
  z-index: auto;

  &.type-image {
    max-width: 50%;
    width: auto;
  }

  .popover-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
  }

  .popover-content {
    p.file-icon {
      i {
        display: block;
        font-size: 200px;
        height: 180px;
        line-height: 200px;
      }

      img {
        margin-top: 10px;
        max-height: 292px;
        max-width: 292px;
      }
    }

    p.file-size {
      color: #999999;
    }
  }
}

#download-link {
  margin: 5px;
}

#sharing {
  bottom: 20px;
  padding-top: 5px;
  position: fixed;
  right: 20px;

  .powered-by {
    @include transition( opacity 0.3s linear 0.3s);
    margin-right: 10px;
    opacity: 0.0;
    text-shadow: 1px 1px 2px #fff;
  }

  .dropdown-menu {
    min-width: 110px;

    li>a {
      padding: 3px 10px;
    }
  }

  &:hover {
    .powered-by {
      @include transition( opacity 0.3s linear 0.3s);
      opacity: 0.5;
    }
  }
}


@media (max-width: 320px) {
  #download-details {
    width: 236px;

    &.type-image {
      max-width: auto;
      width: 236px;
    }
  }
}
