@mixin transition($args) {
  -moz-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

html, body {
  height: 99%;
}

body {
  background-color: #f4f4ff;
  background: url(https://assets.servus.io/3/debut_light.png);
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
  text-align: center;
}

#download-details {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 350px;
  z-index: auto;

  &.type-image {
    max-width: 75%;
    width: auto;
  }

  .popover-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
  }

  .popover-content {
    p.file-icon {
      i {
        display: block;
        font-size: 200px;
        height: 180px;
        line-height: 200px;
      }

      img {
        margin-top: 10px;
        max-height: 300px;
      }
    }
  }
}

#download-link {
  margin: 5px;
  white-space: nowrap;

  span.file-size {
    font-size: 85%;
    opacity: 0.65;
  }

  #sharing {
    button {
      padding: 5px 12px;
    }

    .dropdown-menu {
      min-width: 110px;
      text-align: left;

      li>a {
        padding: 3px 10px;
      }
    }
  }
}

#shared-by {
  @include transition( opacity 0.3s ease 1.5s );
  margin: 10px 0 -10px 0;
  opacity: 0;
  text-shadow: 1px 1px 2px #fff;
  visibility: hidden;

  &.s-visible {
    @include transition( opacity 0.3s ease 0.2s );
    opacity: 0.5;
  }
}


@media (max-width: 640px) {
  #download-details {
    &.type-image {
      max-width: 300px;
    }

    .popover-title {
      font-size: inherit;
      line-height: inherit;
      padding: 4px 14px;
    }
  }
}

@media (max-width: 320px) {
  #download-details {
    width: inherit;

    &.type-image {
      max-width: auto;
      width: inherit;
    }
  }
}

@media (max-height: 320px) {
  #shared-by {
    display: none;
  }
}
